.all-container {
    padding: 1rem;
}

.setting-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-img {
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
}

.settings {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.traffic-lights-settings {
    display: flex;
    flex-direction: column;
}

.latency-settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

